{{#Has_Recite}}
<div class="r">
    <%- include('../entries/status_bar', {title: "RECITE"}); %>
    {{#Example}}
        <%- include('../entries/subject_in_example'); %>
    {{/Example}}
    {{^Example}}
        <%- include('../entries/subject'); %>
    {{/Example}}
    <%- include('../entries/pronunciation'); %>
    <%- include('../entries/paraphrase'); %>
    <%- include('../entries/extension'); %>
</div>

<%- include('../entries/js_main'); %>
<script type="text/javascript">
    run("paraphrase", false, "pos theme-bg", "~");
    run("extension", false, "pos2 theme-border", "~");
</script>
<script type="text/javascript">
    <%- include('../entries/js_subject_in_example.js'); %>
    var elem = document.getElementById("subjectInExample");
    if (elem) {
        elem.innerHTML = processSubjectInExample("{{text:Subject}}", elem.innerHTML, elem.closest(".mobile"));
    }
</script>
{{/Has_Recite}}
{{^Has_Recite}}
{{Has_Recite}}
{{/Has_Recite}}